/*
 * Copyright 2019, Haiku. All rights reserved.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *		Humdinger <humdingerb@gmail.com>
 *
 * Extending the basis Haiku-doc.css of the userguide
 *
 */

/* Some headers act as anchors, don't give them a hover effect */

h1 a:hover, a:active {
	text-decoration: none;
	color: #0c3762;
}

/* heading and navigation */

div.nav {
	position: relative;
	left: 0;
	top: 0;
	background: #e0e0e0;
	padding: 0;
}
@media (min-width:768px) {
	div.nav {
		/* min-width: 59em; */
	}
}

div.nav div.inner {
	height: 100%;
	margin: 0 auto;
	text-align: right;
	padding: 0;
}
@media (min-width:768px) {
	div.nav div.inner {
		/* min-width: 59em; */
		max-width: 70em;
	}
}

div.spacing {
	height: 15ex;
}

div.further {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
	color: silver;
	background: #f8f8f8;
	border-top: dotted thin #a0a0a0;
	margin-top: 5px;
	padding: 5px;
}

div.further span {
	margin-right: 40px;
}

div.shot {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}



/* main content */
#content > div {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	font-size: 0.9em;
}
@media (min-width:768px) {
	#content > div {
		margin-top: 30px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 5px;
	}
}

/* More layout and styles */
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #0c3762;
	border-bottom: dotted thin #e0e0e0;
	margin-top: 45px;
	margin-bottom: 25px;
	text-align: center;
}

p {
	text-align: center;
}

.navi {				/* Navigation link   */
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #336698;
	border-style: solid;
	border-width: 1px;
	padding: 0px 3px 0px 3px;
	background-color: #336698;
	font-size: 1.3em;
}

.navi a {
	color: white;
	font-weight: normal;
	text-decoration: none;
}

.navi a:hover, a:active {
	color: silver;
}

.navdots a {
	font-weight: normal;
	text-decoration: none;
}

.navdots a:hover, a:active {
	color: #dc3c01;
}

.navdots a {
	color: white;
}

.navdots acronym, .navdots a {
	text-decoration: none;
}

acronym.current-page {
	color: #892601;
}

